{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-sm-12 offset-md-1 p-4 text-center">
            <h1>About Us!</h1>
        </div>
    </div>
    <div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <b><p><strong>Welcome to our Food Delivery Service!</strong></p>
            <p>We are dedicated to bringing delicious meals right to your doorstep. Our team is passionate about food and committed to providing you with a convenient and enjoyable dining experience.</p>
            <p>At [Your Food Delivery Service Name], we partner with local restaurants to offer a wide variety of cuisines to suit every taste. Whether you're craving pizza, sushi, or a hearty burger, we've got you covered.</p>
            <p>Our mission is to make ordering food as easy as possible for you. With our user-friendly website and mobile app, you can browse menus, place orders, and track deliveries with just a few clicks. We also offer flexible payment options and fast, reliable delivery.</p>
            <p>Thank you for choosing [Your Food Delivery Service Name] for your dining needs. We look forward to serving you!</p></b>
        </div>
    </div>
</div>
{% endblock content %}
